 @import '../../Styles/Variables.scss';
 
 .item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  color: $text-color;
  background-color: $card-background;
  padding: .4rem .6rem;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
  box-shadow: $box-shadow-1 5px 5px, $box-shadow-2 10px 10px, $box-shadow-3 15px 15px, $box-shadow-4 20px 20px, $box-shadow-5 25px 25px;
 }

 .item:hover {
  background-color: rgb(42, 42, 42);
  transform: translateY(-2px);
}

.btn-delete-item:hover {
  background-color: rgb(49, 49, 49);
}

.btn-delete-item {
  position: absolute;
  right: 1vw;
  overflow: visible;
  padding: .5em;
  color: white;
  background-color: rgb(62, 62, 62);
  border: none;
  cursor: pointer;
  border-radius: .1rem;
  -webkit-border-radius: .1rem;
  -moz-border-radius: .1rem;
  -ms-border-radius: .1rem;
  -o-border-radius: .1rem;
}

.btn-add-item:hover {
  background-color: rgb(49, 49, 49);
}

.btn-add-item {
  overflow: visible;
  padding: .5em;
  color: white;
  background-color: rgb(62, 62, 62);
  border: none;
  cursor: pointer;
  border-radius: .1rem;
  -webkit-border-radius: .1rem;
  -moz-border-radius: .1rem;
  -ms-border-radius: .1rem;
  -o-border-radius: .1rem;
}

@media (max-width: 1000px) {
  .item{
    font-size: 1rem;
  }
}

@media (max-width: 850px) {
  .item{
    max-width: 70%;
  }
}

@media (max-width: 500px) {
  .item{
    max-width: 100%;
  }
}

