@import '../../Styles/Variables.scss';

.svg {
  height: 10vh;
  width: 10vw !important;
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
  margin-left: 1vw;
  margin-right: .5vw;
  flex-shrink: 0;
}

.entireFolderWithContent {
  width: 80vw;
  grid-column: 1 / all;
}

.entireFolderWithoutContent {
  width: 80vw;
  grid-column: 1 / 1;
}

.closedFolder {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.openFolder {
  margin-top: 1rem;
  margin-right: 40vw;
  display: flex;  
  align-items: center;
  margin-bottom: 1rem;
}

.newClass{
  height: 100vh;
  color: red;
  background-color: purple;
}

.deleteBtn {
  margin: 0 0;
  color: red;
}

.folderItems {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.folderForm {
  display: flex;
  gap: 1rem;
}

.submitBtn {
  visibility: hidden;
}

.itemsDiv {
  // width: 100vw;

  // display: flex;
  // gap: 1rem;
  // flex-direction: column;
  margin-left: 1rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
}

.folder-input {
  padding: 0rem;
  border: none;
  outline: none;
  font-size: .8rem;
  height: 2rem;
}

.folder-input:focus {
  outline: $box-shadow-1 2px solid;

  box-shadow: $box-shadow-1 2px 2px, $box-shadow-2 5px 5px, $box-shadow-3 8px 8px, $box-shadow-3 11px 11px, $box-shadow-4 14px 14px;
}


.smallBtn:hover {
  background-color: rgb(49, 49, 49);
}

.smallBtn {
  overflow: visible;
  
  padding: .5em;
  color: white;
  background-color: rgb(62, 62, 62);
  border: none;
  cursor: pointer;
  border-radius: .1rem;
  -webkit-border-radius: .1rem;
  -moz-border-radius: .1rem;
  -ms-border-radius: .1rem;
  -o-border-radius: .1rem;
}

.buttonNextToFolderDiv {
  display: flex;
  flex-direction: column;
  gap: 3px;
}





// .folderName {
//   margin-right: 3px;
// }



// .deleteBtn {
//   position: absolute;

// }

.deleteBtn:hover {
  background-color: $delete-btn-hover;
}

.deleteBtn {
  overflow: visible;
  
  padding: .5em;
  color: white;
  background-color: $delete-btn;
  border: none;
  cursor: pointer;
  border-radius: .1rem;
  -webkit-border-radius: .1rem;
  -moz-border-radius: .1rem;
  -ms-border-radius: .1rem;
  -o-border-radius: .1rem;
}



.folderNameOpen {
  margin-right: .6rem;
}

@media (max-width: 800px) {
  .itemsDiv {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
}

@media (max-width: 700px) {
 .svg {
    width: 20vw !important;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .folderForm {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
  }
 
  .folder-input {
    width: 40vw;
  }
  
  .titleInputMobile {
    margin-left: 1rem;
  }
  .itemsDiv {
    margin-top: 15px;
  }
  .addItemBtn, .formMinusBtn {
    margin-left: 1rem;
  }

  .linkInputMobile {
    margin-left: 57px;
  }

}

@media(max-width: 500px) {
   .folder-input {
    width: 60vw;
  }
}


