@import "../../Styles/Variables.scss";

.svg {
  height: 10vh;
  width: 10vw !important;
  filter: brightness(0) saturate(100%) invert(22%) sepia(100%) saturate(1884%)
    hue-rotate(300deg) brightness(107%) contrast(87%);
  margin-left: 1vw;
  margin-right: 0.5vw;
  flex-shrink: 0;
  -webkit-filter: brightness(0) saturate(100%) invert(22%) sepia(100%)
    saturate(1884%) hue-rotate(300deg) brightness(107%) contrast(87%);
}

.editFolderInput {
  font-size: 1rem;
  width: 8vw;
  color: $text-color;
  background-color: black;
}

.lightning {
  color: $folder-outline !important;
}

.entireFolderWithContent {
  width: 80vw;
  grid-column: 1 / all;
}

.entireFolderWithoutContent {
  width: 80vw;
  grid-column: 1 / 1;
}

.closedFolder {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.openFolder {
  margin-top: 1rem;
  margin-right: 40vw;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.folderItems {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.folderForm {
  display: flex;
  gap: 1rem;
}

.submitBtn {
  visibility: hidden;
}

.itemsDiv {
  margin-top: 2rem;
  margin-left: 3.5rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
}

.folder-input {
  padding: 0.2rem;
  border: none;
  outline: none;
  font-size: 1rem;
  height: 2rem;
  color: $text-color;
  background-color: $item-background;
  width: 20vw;
}

.folder-input:focus {
  outline: $box-shadow-1 2px solid;
}

.smallBtn:hover {
  background-color: rgb(49, 49, 49);
}

.smallBtn {
  overflow: visible;

  padding: 0.5em;
  color: $text-color;
  background-color: rgb(62, 62, 62);
  border: none;
  cursor: pointer;
  border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -ms-border-radius: 0.1rem;
  -o-border-radius: 0.1rem;
}

.buttonNextToFolderDiv {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.delBtn {
  display: flex;
  justify-content: center;
  color: $text-color;
}

.editBtn {
  margin-right: 1vw;
}

.folderNameOpen {
  margin-right: 0.6rem;
}

@media (max-width: 800px) {
  .editFolderInput {
    width: 20vw;
  }
}

@media (max-width: 850px) {
  .itemsDiv {
    margin-top: 1.5rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
  }
}

@media (max-width: 800px) {
  .svg {
    width: 20vw !important;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .folderForm {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    flex-wrap: nowrap;
    margin-bottom: 1vh;
    gap: 1rem;
  }

  .folder-input {
    width: 40vw;
  }

  .titleInputMobile {
    margin-left: 1rem;
  }

  .addItemBtn {
    position: relative;
    top: 6px;
    margin-top: 1rem;
    margin-left: 3rem;
  }

  .formMinusBtn {
    margin-left: 1rem;
  }

  .linkInputMobile {
    margin-left: 57px;
  }
}

@media (max-width: 500px) {
  .folder-input {
    width: 50vw;
  }
}

// input {
//   color: $text-color;
//   background-color: $card-background;
// }
