$background-color: rgb(29, 29, 29);
$text-color: white;
$card-background: rgb(62, 62, 62);

$box-shadow-1: rgba(240, 46, 170, 0.4); 
$box-shadow-2: rgba(240, 46, 170, 0.3);
$box-shadow-3:  rgba(240, 46, 170, 0.2);
$box-shadow-3:  rgba(240, 46, 170, 0.1);
$box-shadow-4: rgba(240, 46, 170, 0.05);

$button-hover: rgb(42, 42, 42);
$card-hover: rgb(42, 42, 42);
