$background-color: rgb(4, 4, 4);
$text-color: white;

$item-background: rgb(22, 22, 22);
$item-hover: rgb(2, 2, 2);
$item-outline: #f20ca1;


$folder-outline: #f20ca1;

$box-shadow-1: rgba(240, 46, 170, 0.4); 
$box-shadow-2: rgba(240, 46, 170, 0.3);
$box-shadow-3:  rgba(240, 46, 170, 0.2);
$box-shadow-4:  rgba(240, 46, 170, 0.1);
$box-shadow-5: rgba(240, 46, 170, 0.05);



$delete-btn: rgba(255, 0, 0, 0.505);
$delete-btn-hover: rgba(255, 0, 0, 0.745);

